body{
	margin:0;
	padding:0;
}
/*顶部*/
.w{
	width:100%;
	background:#DCDCDC;
}
.x{
	width:1200px;
	margin:0 auto;
}
.z1{
	height:50px;
	position:relative;
}
.z1 p{
	position:absolute;
	right:10px;
	bottom:0;
	font-weight:bold;
}
/*引用自己的字体*/
/*开始引入路径不对，习惯性的在CSS里面不找上一级*/
 @font-face {
	
	/*创建字体的名字：叫 myFont，后面就可以使用这个字体了*/
	font-family: myFont; 
	/*引入字体文件的路径*/
	src: url("../Bodoni.ttf");
}  

.z1 span{
	/*myFont 自己字体的名字*/
	font-family: myFont;
	font-size:20px;
}
/*导航栏*/
.z2{
	height:100px;
	position:relative;
}
.pic1{
	width:200px;
	height:100px;
}
.pic1 img{
	margin-top:20px;
}
/*导航栏链接*/
.dhl{
	width:720px;
	height:40px;
	position:absolute;
	right:0;
	top:20px;
}
.dhl ul{
	margin:0;
	padding:0;
	list-style:none;
}
.dhl li{
	float:left;
	width:119px;
	height:40px;
	text-align:center;
	font:20px/40px "simsun";
	border-right:1px solid black;
}
.dhl li.no{
	border:0;
}
.dhl a{
	display:block;
	width:100%;
	height:50px;;
	color:black;
	text-decoration:none;
}
.dhl a:hover{
	font-weight:bold;
	border-bottom:5px solid black;
}  /*导航栏写完*/
/*背景图片*/
.z3{
	width:100%;
	height:400px;
/*把0写成O*/
	background:url("../img/3.gif")no-repeat center 0;
	background-size:100% 100%;
}
/*成功案例*/
.z4{
	border-bottom:2px solid #DCDCDC;
}
.z4 p{
	width:100px;
	height:50px;
	margin:0;
	padding:0;
}
.z4 a{
	display:block;
	width:100%;
	height:100%;
	text-align:center;
	color:black;
	text-decoration:none;
	font-weight:bold;
	font:20px/50px "simhei";
}
.z4 a:hover{
	font-weight:bold;
	border-bottom:3px solid black;	
}
/*插入图片*/
.z5 ul{
	margin:0;
	padding:0;
	list-style:none;
}
.z5 ul li{
	float:left;
	width:240px;
	height:175px;
	text-align:center;
}
.z8{
	clear:both;
	width:400px;
	height:50px;
	margin:0 auto;
	text-align:center;
}
.z8 input{
	float:left;
	width:100px;
	height:50px;
	background:white;
	border:0;
	font:20px/50px "simhei";
}
.z8 input:hover{
	border:3px solid #99ff99;
}
/*遇到问题，用dbdh加margin无法生效，只能z6加padding*/
.z9{
	height:200px;
	padding-top:30px;
}
/*底部导航*/
.dbdh{
	width:400px;
	height:40px;
	margin:0 auto;
}
.dbdh ul{
	margin:0;
	padding:0;
	list-style:none;
}
.dbdh li{
	float:left;
	width:99px;
	height:40px;
	/*margin:30px auto; 是无法生效的*/
	text-align:center;
	font:20px/40px "simhei";
	border-right:1px solid black;
}
.dbdh li.my{
	border:0;
}
.dbdh a{
	display:block;
	width:100%;
	height:100%;
	color:black;
	text-decoration:none;
}
.z9 p{
	width:380px;
	height:30px;
	margin:0 auto;
	text-align:center;
	font:20px/30px "simhei";
}